<ion-content>
  <img src="assets/logo.png" />

  <div class="wrapper" id="menu" #menu>
    <ion-button expand="full" color="light" (click)="openCategories()">
      New Game
    </ion-button>
    <ion-button expand="full" color="light" (click)="openHighscore()">
      Highscore
    </ion-button>
  </div>

  <div class="wrapper" id="score" #score>
    <ion-button expand="full" fill="clear" color="light" (click)="showMenu()">
      <ion-icon name="chevron-back-outline" slot="start"></ion-icon>Back
    </ion-button>

    <h2>Highscore</h2>
  </div>

  <div class="wrapper" id="game" #game>
    <ion-button expand="full" fill="clear" color="light" (click)="showMenu()">
      <ion-icon name="chevron-back-outline" slot="start"></ion-icon>Back
    </ion-button>

    <h2>Game</h2>
  </div>
</ion-content>
