<ion-content [scrollY]="scrollEnabled">
  <img src="assets/logo.png" />

  <div class="wrapper" id="menu" #menu>
    <ion-button expand="full" color="light" (click)="openCategories()">
      New Game
    </ion-button>
    <ion-button expand="full" color="light" (click)="openHighscore()">
      Highscore
    </ion-button>
  </div>

  <div class="wrapper" id="score" #score>
    <ion-button expand="full" fill="clear" color="light" (click)="showMenu()">
      <ion-icon name="chevron-back-outline" slot="start"></ion-icon>Back
    </ion-button>

    <h2>Highscore</h2>

    <ion-row *ngFor="let score of scores">
      <ion-col size="4" offset="2" class="ion-text-left">
        {{score.name}}
      </ion-col>
      <ion-col size="4" class="ion-text-right"> {{score.score}} </ion-col>
    </ion-row>
  </div>

  <div class="wrapper" id="game" #game>
    <ion-button expand="full" fill="clear" color="light" (click)="showMenu()">
      <ion-icon name="chevron-back-outline" slot="start"></ion-icon>Back
    </ion-button>

    <h2>Game</h2>

    <ion-row>
      <ion-col
        size="6"
        *ngFor="let cat of categories"
        tappable
        (click)="startGame(cat)"
      >
        <div class="category">
          <span>{{cat.name}}</span>
        </div>
      </ion-col>
    </ion-row>
  </div>
</ion-content>
