img {
  width: 60%;
  margin-top: 80px;
}

ion-button {
  width: 70%;
}

.wrapper {
  height: 70%;
  position: absolute;
  width: 100%;
  top: 200px;
}

#menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#game,
#score {
  transform: translateX(1000px);
}
